body{
  background-color: #64CCC5
}

h1{
color: #FBECB2

}
h3{
  color: #FBECB2
}
 hr{
 border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 5px;
 width: 5%;
}
